Python Home

In [7]:
print("Hello World!")

Hello World!

Python Syntax

In [5]:
if 1 < 2:
  print("Five is less than two!")

Five is less than two!

In [3]:
if 1 < 2:
print("Five is less than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (108209589.py, line 2)

In [1]:
if 1 < 2:
  print("Five is less than two!")
if 1 < 2:
   print("Five is less than two!")

Five is less than two!
Five is less than two!

In [9]:
if 1 < 2:
 print("Five is less than two!")
    print("Five is less than two!")

IndentationError: unexpected indent (3996373912.py, line 3)

In [21]:
x = 5
y = "Hello World!"
print(x)
print(y)

5
Hello World!

In [ ]:
#This is a comment.

Python Comments

In [ ]:
#This is a comment
print("Hello World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Python Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

In [ ]:
a = 4
A = "Sally"

print(a)
print(A)

Python - Variable Names

In [25]:
myvar = "ASLAN"
my_var = "ASLAN"
_my_var = "ASLAN"
myVar = "ASLAN"
MYVAR = "ASLAN"
myvar2 = "ASLAN"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

ASLAN
ASLAN
ASLAN
ASLAN
ASLAN
ASLAN

In [29]:
2myvar = "John"
my-var = "John"
my var = "John"

#This example will produce an error in the result

print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (3009071300.py, line 1)

Python Variables - Assign Multiple Values

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [27]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Python - Output Variables

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = 10
print(x + y) #In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x, y)

Python - Global Variables

In [31]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [33]:
x = 5
print(type(x))

<class 'int'>

Python Numbers

There are three numeric types in Python:

int
float
complex

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [37]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

In [39]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [43]:
import random

print(random.randrange(1, 10))

7

Python Casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

Python Strings

In [ ]:
print("Hello")
print('Hello')

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

In [ ]:
a = "Hello"
print(a)

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Or three single quotes:

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Strings are Arrays

In [45]:
a = "Hello, World!"
print(a[1])

e

In [47]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a = "Hello, World!"
print(len(a))

In [49]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [53]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [51]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [55]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Python - Slicing Strings

Slicing

In [57]:
b = "Hello, World!"
print(b[2:5])

llo

In [59]:
b = "Hello, World!"
print(b[:5])

Hello

In [61]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [63]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
Python - Modify Strings

In [65]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [67]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [69]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [73]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [71]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Python - String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Python - Format - Strings

In [ ]:
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

In [75]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [77]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [79]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [81]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Python - Escape Characters

In [83]:
txt = "We are the so-called "Vikings" from the north."

print(txt)
#You will get an error if you use double quotes inside a string that are surrounded by double quotes:

SyntaxError: invalid syntax (3585288643.py, line 1)

In [87]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Python - String Methods

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning